---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";
import { FaAddressCard, FaEnvelope, FaPhoneAlt } from "react-icons/fa";

const entry = await getEntryBySlug("pages", "contact");
const { contact_form_action } = config.params;
const { address, email, phone } = config.contactinfo;
const { title, description, meta_title, image } = entry.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section">
    <div class="container">
      <h1 set:html={markdownify(title)} class="h2 page-heading" />
      <div class="row md:gx-5 gy-5">
        <div class="flex flex-wrap sm:col-1 md:col-1 lg:w-[720px] lg:mx-auto">
          <p class="mb-8 text-2xl mx-auto font-bold text-theme-dark">Contact Info</p>
          <ul class="flex flex-col mx-auto space-y-8">
            <li>
              <div class="flex text-theme-dark items-center text-xl">
                <FaAddressCard className="mr-3 text-primary" />
                <p class="font-semibold">Address</p>
              </div>
              <p set:html={markdownify(address)} class="mt-2 leading-5 pl-8" />
            </li>
            <li>
              <div class="flex text-theme-dark items-center text-xl">
                <FaEnvelope className="mr-3 text-primary" />
                <p class="font-semibold">Email</p>
              </div>
              <p set:html={markdownify(email)} class="mt-2 leading-5 pl-8 content" />
            </li>
            <li>
              <div class="flex text-theme-dark items-center text-xl">
                <FaPhoneAlt className="mr-3 text-primary" />
                <p class="font-semibold">Phone</p>
              </div>
              <p set:html={markdownify(phone)} class="mt-2 leading-5 pl-8" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</Base>
